{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Elección de prevención
{% endblock %}

{% block content %}
<font color="burlywood"><h4 align="right">Tu Etiqueta: {{ participant_id }}</h4></font>
    {% formfields %}

    {% next_button %}

    <b>Contáctenos:</b>
    <br>
    <img height="2%" width="2%" src="{% static "whatsapp.png"%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985 730 063</a>
    <br>
    <img height="2%" width="2%" src="{% static "gmail.png"%}"/> e2lab@up.edu.pe

{% endblock %}