{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    
    <ul>
        <li>La sesión consiste en 10 rondas. El número total de participantes es 10. Cada participante inicia con
            una dotación inicial de 150 puntos.</li>
        <li>En la primera ronda, cada participante recibirá un mensaje informativo sobre un tema de salud pública. 
            Una vez que lo haya leído, tendrá que decidir qué nivel de prevención desea asumir en una escala del 0
            al 5, donde 0 es nada y 5 es mucho.</li>
        <li>En la segunda ronda, cabe la posibilidad de que se reciba información nueva o no. Independientemente de
            ello, el procedimiento del juego es el mismo: elegir el nivel de prevención ante el problema planteado.</li>
        <li>En las siguientes 8 rondas, se debe decidir el nivel de prevención considerando los pagos acumulados
            que obtenga.</li>
        <li>El pago final que usted recibirá al final del experimento será:

            <h6 align="center">

                 <math>
	             Efectivo = (Puntos acumulados en el juego - 100) x 0.1
                 </math>

            </h6>

        </li>
    </ul>
        
    A continuación, presione en “<b>Next</b>” para empezar el juego.

    </div>
</div>

