{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Fin del juego
{% endblock %}

{% block content %}
<font color="burlywood"><h4 align="right">Tu Etiqueta: {{ participant_id }}</h4></font>
    <table class="table-condensed" style="width:500px; margin-top:20px;">
        <tr><td><b> El número de puntos que acumulaste a lo largo de las diez rondas fue: </b>{{ player.pago_acumulado }}</tr>

        <tr><td colspan="2"><hr/></td></tr>
        {% if player.pago_acumulado <= 0 %}
        <tr><td><b>Eso significa que has ganado un total de:</b></td><td>0 soles</td></tr>
        {% else %}
        <tr><td><b>Eso significa que has ganado un total de:</b></td><td>{{ pago_real }}</td></tr>
        {% endif %}
        <tr><td colspan="2"><hr/></td></tr>

        <tr><td><b>Muchas gracias por haber participado</b></td></tr>
    </table>
    <p></p>

    {% next_button %}

    <b>Contáctenos:</b>
    <br>
    <img height="2%" width="2%" src="{% static "whatsapp.png"%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985 730 063</a>
    <br>
    <img height="2%" width="2%" src="{% static "gmail.png"%}"/> e2lab@up.edu.pe

{% endblock %}